.experience-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}

.only-small {
    display: none;
}

.experience-timeline {
    width: 320px;
    height: calc(100vh - var(--navigation-bar-height) - (2*var(--padding-large)));
    position: -webkit-sticky;
    position: sticky;
    top: var(--navigation-bar-height);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: var(--padding-large) 0 var(--padding-large) var(--padding-large);
}

.experience-timeline-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.experience-content {
    flex: 1;
    padding: var(--padding-large);
    min-height: 100vh;
}

.experience-link {
    font-size: 1em;
    transition: all 400ms;
}

.active-experience-link {
    color: var(--brand-color);
    margin-top: 30px;
    margin-bottom: 30px;
    /* transition: margin 500ms; */
}

#highlight {
    color: var(--brand-color);
    font-weight: bold;
}

.filler-before{
    height: calc(10vh - var(--navigation-bar-height));
}

.filler-after{
    height: calc(10vh - var(--navigation-bar-height));
}

@media only screen and (max-width: 1400px) {
    .experience-timeline {
        width: 280px;
        /* padding: var(--padding-medium); */
    }
} 

@media only screen and (max-width: 1000px) {
    .experience-timeline {
        width: 260px;
        padding: var(--padding-small);
    }
} 

@media only screen and (max-width: 820px) {
    .experience-timeline{
        display: none;
    }

    .only-small {
        display: block;
    }

    .experience-content {
        padding: var(--padding-small);
    }

    .filler-before{
        height: 0;
    }
    
    .filler-after{
        height: 0;
    }
}