.experience-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}

.only-small {
    display: none;
}

.experience-timeline {
    min-width: 320px;
    height: calc(100vh - var(--header-height));
    /* background-color: #f1f2f1; */
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: var(--header-height);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: var(--padding-large);
}

.experience-timeline-content {
    flex: 1;
    align-self: flex-end;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.experience-content {
    flex: 1;
    padding: var(--padding-large);
    min-height: 100vh;
    /* height: 50vh; */
    /* overflow: scroll; */
}

.experience-link {
    font-size: 1em;
    transition: margin 500ms;
}

.active-experience-link {
    color: red;
    margin-top: 30px;
    margin-bottom: 30px;
    transition: margin 500ms;
}

#highlight {
    color: #ec444b;
    font-weight: bold;
}


@media only screen and (max-width: 1000px) {
    .experience-timeline {
        min-width: 280px;
        padding: var(--padding-small);
    }
} 

@media only screen and (max-width: 820px) {
    .experience-timeline{
        display: none;
    }

    .only-small {
        display: block;
    }

    .experience-content {
        padding: var(--padding-small);
    }
}