.other-container{
    background-color: #fff;
    min-height: calc(60vh - var(--header-height));
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 40px;
}

.other-content {
    font-size: 1em;
    line-height: 1.4em;
    font-weight: 100;
    margin-bottom: 34px;
}

.highlight {
    color: #ec444b;
}