.experience-section-container {
    min-height: calc(50vh - var(--header-height));
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}



.experience-title {
    font-size: 2em;
    color: #333;
    margin-bottom: 0px;
}



.active-experience-title {
    color: #ec444b;
}



.experience-subtitle {
    font-size: 1em;
    color: #333;
    margin-top: 0px;
    margin-bottom: 6px;
}


.experience-dates {
    display: none;
    color: #333;
    font-size: 1em;
}

.experience-company-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}


.experience-company-logo {
    width: 60px;
    height: 60px;
}

.experience-company-info {
    margin: 20px;
}

.experience-company-name {
    font-size: 1.1em;
    color: #333;
    margin-top: 2px;
    margin-bottom: 8px;
}



.experience-company-location {
    font-size: 0.9em;
    color: #333;
    margin-top: 4px;
    margin-bottom: 2px;
}

li {
    font-size: 1em;
    line-height: 1.4em;
    font-weight: 100;
    margin-bottom: 12px;
}

@media only screen and (max-width: 820px) {
    .experience-section-container {
        min-height: 0;
        padding: 0px;
        margin-left: 0;
        margin-top: 50px;
        margin-bottom: 50px;
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .experience-title {
        font-size: 1.4em;
    }
    
    .experience-company-logo {
        width: 50px;
        height: 50px;
    }

    .experience-company-name {
        font-size: 1em;
    }

    .experience-company-location {
        font-size: 0.8em;
    }

    .experience-dates {
        display: block;
    }
}


