
:root {
  --brand-color: #ec444b;
  --brand-color-hover: #f45359;
  --navigation-bar-height: 70px;
  --padding-large: 40px;
  --padding-medium: 30px;
  --padding-small: 20px;
  
}

body {
  margin: 0;
  font-family:  'Montserrat', -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Fira Sans", "Droid Sans", "Ubuntu", "Cantarell", "Helvetica Neue",  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


.inline-link {
  cursor: pointer;
  color: #7d2e32;
  text-decoration: none;
}

.inline-link .underline {
  text-decoration: underline;
}

.highlighted-link {
  display: inline-block;
  background-color: #666;
  text-decoration: none;
  border-radius: 5px;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 0.8em;
  margin-left: 10px;
  color: white;
  transition: all 500ms;
}

.highlighted-link:hover {
  background-color: #333;
}

.highlighted-link::after{
  content: ' →';
}
