
.patent-content{
    margin: 60px 0;
}

.patent-title{
    font-size: 1.2em;
    margin: 0 0 10px 0;
}

.patent-author{
    display: inline-block;
    margin: 0 0 12px 0;
    color: #444;
}

.patent-other-info {
    margin: 0 0 12px 0;
    font-size: 1.1em;
}

.highlight {
    font-weight: bold;
    color: var(--brand-color);
}

